.observation-add-icon-wrapper {
  background-color: #fff;
  position: fixed;
  right: 30px;
  bottom: 100px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.observation-add-icon {
  width: 45px;
  height: 45px;
}