@import "../../theme.scss";

.index-page {
  font-size: var(--td-font-size-m)
}

.empty-tips {
  height: 100vh;
  margin: 0 150rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-tips__or {
  margin: var(--td-spacer-1) 0;
  color: var(--td-font-gray-3);
}

.custom-tabs {
  font-size: var(--td-font-size-m) !important;
}

.search-icon {
  position: fixed;
  top: var(--td-spacer-1);
  right: var(--td-spacer-5);
  z-index: 999;
}

.filter-icon {
  position: fixed;
  top: var(--td-spacer-1);
  right: var(--td-spacer);
  z-index: 999;
}

.search-taxon-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--td-font-size-base);
  background-color: var(--td-font-gray-3);
  padding: var(--td-spacer);
  color: #fff;

  .search-taxon-info__remove-icon {
    padding-left: 15px; // 增大点击面积
  }
}

.search-empty-tips {
  margin-top: var(--td-spacer-6);
}