@import "../../theme.scss";

.user-name-and-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--td-font-size-base);
}

.user__avatar {
  margin-right: var(--spacer-mini);
}