@import './theme.scss';

page {
  --td-cell-vertical-padding: 32rpx;
  --td-cell-horizontal-padding: 32rpx;

  --td-font-gray-1: rgba(0, 0, 0, 0.9);
  --td-font-gray-2: rgba(0, 0, 0, 0.6);
  --td-font-gray-3: rgba(0, 0, 0, 0.4);
  --td-font-gray-4: rgba(0, 0, 0, 0.2);

  --td-font-size: 20rpx;
  --td-font-size-xs: 20rpx; // 字号-一级字号
  --td-font-size-s: 24rpx; // 字号-二级字号
  --td-font-size-base: 32rpx; // 字号-三级字号
  --td-font-size-m: 36rpx; // 字号-二级字号
  --td-font-size-l: 40rpx; // 字号-四级字号
  --td-font-size-xl: 44rpx; // 字号-五级字号
  /* 由 https://uicolors.app/create 生成的配色 */
  --td-primary-color-1: #effef2;
  --td-primary-color-2: #dafee1;
  --td-primary-color-3: #b6fcc6;
  --td-primary-color-4: #7ef79a;
  --td-primary-color-5: #3fe966;
  --td-primary-color-6: #16d142;
  --td-primary-color-7: #0bae31;
  --td-primary-color-8: #0e932e;
  --td-primary-color-9: #106b27;
  --td-primary-color-10: #0f5822;

  --td-spacer: 16rpx; //$area-gap-xs;
  --td-spacer-1: 24rpx; // 间距-小-x
  --td-spacer-2: 32rpx; // 间距-小
  --td-spacer-3: 48rpx; // 间距-中
  --td-spacer-4: 64rpx; // 间距-大
  --td-spacer-5: 96rpx; // 间距-大-x
  --td-spacer-6: 128rpx; // 间距-大-xx

  --default-bg: #f3f3f3;
  font-size: var(--td-font-size-base);
  line-height: 1.5;
}

.page-container {
  margin: 10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}