@import './theme.scss';

page {
  font-family: sans-serif;
  background-color: $default-bg;
  /* 由 https://uicolors.app/create 生成的配色 */
  --td-primary-color-1: #effef2;
  --td-primary-color-2: #dafee1;
  --td-primary-color-3: #b6fcc6;
  --td-primary-color-4: #7ef79a;
  --td-primary-color-5: #3fe966;
  --td-primary-color-6: #16d142;
  --td-primary-color-7: #0bae31;
  --td-primary-color-8: #0e932e;
  --td-primary-color-9: #106b27;
  --td-primary-color-10: #0f5822;
}

.page-container {
  margin: 10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}