  $default-bg: #f3f3f3;
  $bg-trans: rgba(0, 0, 0, 0.1);

  $border-color: #e7e7e7;

  $font-gray-1: rgba(0, 0, 0, 0.9);
  $font-gray-2: rgba(0, 0, 0, 0.6);
  $font-gray-3: rgba(0, 0, 0, 0.4);

  $font-size-xs: 24rpx; // 字号-一级字号
  $font-size-s: 28rpx; // 字号-二级字号
  $font-size: 32rpx;
  $font-size-m: 36rpx;
  $font-size-l: 40rpx;
  $font-size-xl: 44rpx;

  $area-gap-xxs: 8rpx; // 间距
  $area-gap-xs: 16rpx;
  $area-gap-s: 24rpx;
  $area-gap: 32rpx;
  $area-gap-m: 48rpx;
  $area-gap-l: 64rpx;
  $area-gap-xl: 96rpx;
  $area-gap-xxl: 128rpx;