  $default-bg: #f6f6f6;
  $font-gray-1: rgba(0, 0, 0, 0.9);
  $font-gray-2: rgba(0, 0, 0, 0.6);
  $font-gray-3: rgba(0, 0, 0, 0.4);

  $font-size-xs: 12px; // 字号-一级字号
  $font-size-s: 14px; // 字号-二级字号
  $font-size: 16px;
  $font-size-m: 18px;
  $font-size-l: 20px;
  $font-size-xl: 22px;