@import "../../theme.scss";

.page-container {
  margin: 0;
  padding: $area-gap-s;
  min-height: 100vh;
  background-color: #fff;
}

.search-result-taxon-list {
  margin-top: $area-gap-s;
}

.search-result-taxon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $area-gap-s;
}

.search-result-taxon-item-chinese-name {
  font-size: $font-size;
}

.search-result-taxon-item-name {
  font-size: $font-size-s;
  color: $font-gray-2;
}

.search-result-taxon-select {
  padding: 0 !important;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $area-gap-xl;
}