@import "../../theme.scss";

.page-container {
  margin: 0;
  padding: var(--td-spacer-2);
  min-height: 100vh;
  background-color: #fff;
}

.search-result-taxon-list {
  margin-top: var(--td-spacer-2);
}

.search-result-taxon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--td-spacer-2) var(--spacer-mini) var(--td-spacer-2) var(--td-spacer-1);
}

.search-result-taxon-item-chinese-name {
  font-size: var(--td-font-size-m);
}

.search-result-taxon-item-name {
  font-size: var(--td-font-size-s);
  color: var(--td-font-gray-3);
}

.search-result-taxon-select {
  padding: 0 !important;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--td-spacer-5);
}