@import "../../theme.scss";

.taxon-name-cell {
  line-height: 1 !important;
  padding: var(--td-spacer) var(--td-spacer-2) !important;
}

.taxon-name-cell__description {
  font-size: var(--td-font-size-s);
}