@import "../../theme.scss";

.custom-tabs {
  border-top: 1px solid var(--td-border-color);
}

.page-container {
  --td-swiper-radius: 0;
  --td-tab-track-width: 200rpx;
  margin: 0;
  min-height: 100vh;
}

.observation-desc {
  color: var(--td-font-gray-1);
  margin: var(--td-spacer-2) var(--td-spacer-2) 0 var(--td-spacer-2);
}

.edit-button-wrapper {
  margin: var(--td-spacer-4) var(--td-spacer-2);
}

.observed-on-time {
  margin-left: var(--td-spacer-3);
}

.img-bottom-info {
  padding: var(--td-spacer-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.identifications-pannel {}