@import "../../utils/css/hover-class.scss";

.custom-tabs {
  font-size: var(--td-font-size-base) !important;
  // border-top: 1px solid var(--td-border-color);
}

.custom-divider {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.custom-track {
  width: 200rpx !important;
}

.page-container {
  --td-swiper-radius: 0;
  margin: 0;
  min-height: 100vh;
}

.observation-desc {
  color: var(--td-font-gray-2);
  padding: var(--td-spacer-2) var(--td-spacer-2) var(--td-spacer-2) var(--td-spacer-2);
  font-size: var(--td-font-size-base);
}

.observation-desc__title {
  color: var(--td-font-gray-1);
  font-size: var(--td-font-size-m);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.edit-button-wrapper {
  margin: var(--td-spacer-4) var(--td-spacer-2);
}

.identifications-pannel {
  margin-top: var(--td-spacer-1);
}

.observation-user-info {
  padding: var(--td-spacer) var(--td-spacer-2) var(--td-spacer-2) var(--td-spacer-2);
}

.observation-user-info__title {
  font-size: var(--td-font-size-m);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--spacer-mini);
}

.observation-user-info__detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--td-font-gray-2);

  .observation-on-time {
    font-size: var(--td-font-size-base);
    margin-left: var(--spacer-mini);
  }
}



.back-icon {
  background-color: rgba(255, 255, 255, 0.6) !important;
  height: 30px !important;
  width: 30px !important;
  // color: #FFF !important;
}

.custom-field-config-wrapper {
  margin-left: var(--td-spacer-2);
  margin-top: var(--td-spacer-2);
}

.custom-field-config-title {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  font-size: var(--td-font-size-m);
  margin-bottom: var(--spacer-mini);
}

.custom-field-config-view-history {
  font-size: var(--td-font-size-base);
  color: var(--td-font-gray-2);
  margin-left: var(--spacer-mini);
}