@import "../../theme.scss";

.custom-tabs {
  font-size: var(--td-font-size-base) !important;
  border-top: 1px solid var(--td-border-color);
}

.page-container {
  --td-swiper-radius: 0;
  margin: 0;
  min-height: 100vh;
}

.observation-desc {
  color: var(--td-font-gray-1);
  margin: var(--td-spacer-2) var(--td-spacer-2) 0 var(--td-spacer-2);
}

.edit-button-wrapper {
  margin: var(--td-spacer-4) var(--td-spacer-2);
}

.observation-location-name {
  // margin-left: var(--td-spacer-3);
}

.img-bottom-info {
  padding: 0 var(--td-spacer-2);
  height: var(--td-spacer-5);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .observation-on-time {
    color: var(--td-font-gray-3);
  }
}

.identifications-pannel {}