page {
  --td-cell-left-icon-color: rgba(0, 0, 0, 0.9);
}


.setting-page-container {
  background-color: var(--default-bg);
  min-height: 100vh;
}

.logout-btn {
  justify-content: center;
}

.cell-group:not(:first-child) {
  margin-top: var(--td-spacer-4);
}

.contact-btn {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: var(--td-font-size-m) !important;
  color: var(--td-font-gray-1) !important;
}