@import '../../theme.scss';

.observation-detail-topbar {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $font-gray-2;
  background-color: white;
}