@import '../../theme.scss';

.observation-detail-topbar {
  padding: $area-gap-xs $area-gap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $font-gray-2;
  background-color: white;
}