@import '../../theme.scss';

.observation-detail-topbar {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $font-gray-2;
  background-color: white;
}

.observation-detail-topbar__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.observation-detail-topbar__left__avatar {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}