@import "../../utils/css/skyline-reset.scss";

.index-page {
  font-size: var(--td-font-size-m);
}

.tab-right-wrapper {
  position: fixed;
  left: var(--td-spacer);
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-icon {
  padding: 0 var(--spacer-mini);
}

.filter-icon {
  padding: 0 var(--spacer-mini);
}

.search-taxon-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--td-font-size-base);
  background-color: var(--td-font-gray-3);
  padding: var(--td-spacer);
  color: #fff;

  .search-taxon-info__remove-icon {
    padding-left: 15px; // 增大点击面积
  }
}

.search-empty-tips {
  margin-top: var(--td-spacer-6);
}