.user-home-container {
  padding: var(--spacer-mini);
}

.custom-tabs {
  font-size: var(--td-font-size-m) !important;
}

.user-home-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-home-header__right {
  margin-left: var(--td-spacer-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-nickname {
  font-size: var(--td-font-size-xl);
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.user-nickname__stat {
  font-size: var(--td-font-size-s);
  margin-left: var(--td-spacer);
  color: var(--td-primary-color-7);
}

.user-bio {
  font-size: var(--td-font-size-s);
  color: var(--td-font-gray-2);
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}