@import "../../utils/css/hover-class.scss";

.observation-list__item {
  width: 100%;
  height: 280rpx;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.observation-list__item__img {
  width: 100%;
  height: 100%;
}

.observation-list__item__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding-left: var(--spacer-mini);
  background-color: var(--bg-trans);

  text-align: left;
  color: #fff;
  font-size: var(--td-font-size-m);
}