.filter-panel-container {
  margin: var(--td-spacer-1);
}

.filter-panel__title {
  font-size: var(--td-font-size-m);
  margin-bottom: var(--td-spacer-1);
}

.apply-filter-button {
  position: fixed;
  bottom: var(--td-spacer-1);
  left: var(--td-spacer-1);
  right: var(--td-spacer-1);
}