.tabs-header {
  color: var(--td-font-gray-1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--spacer-mini);

  .tabs-header__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacer-mini) var(--td-spacer-1);

    .tabs-header__item__count {
      font-size: var(--td-font-size-xl);
      color: var(--td-primary-color-7);
      line-height: 1;
    }

    .tabs-header__item__title {
      font-size: var(--td-font-size-s);
      color: var(--td-font-gray-2);
    }
  }

  .tabs-header__item-active {
    // color: var(--td-primary-color-7);
    border-bottom: 2px solid var(--td-primary-color-7);

    .tabs-header__item__title {
      color: var(--td-font-gray-1);
    }
  }
}