@import "../../theme.scss";

.identifications-item {
  background-color: white;
  margin-bottom: $area-gap-s;
  padding: $area-gap-s;
  font-size: $font-size;
}

.identifications-item-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $font-gray-2;
}

.id-taxon-wrapper {
  margin-left: 35px;
  margin-top: 5px;

  .taxon-common-name {
    color: $font-gray-1;
    font-size: 18px;
  }

  .taxon-scientific-name {
    color: $font-gray-2;
    font-size: $font-size;
  }
}