@import "../../theme.scss";

.identifications-item {
  padding: var(--td-spacer) 0;
  font-size: var(--td-font-size-base);
  border-bottom: 1px solid var(--td-border-color);
  margin: 0 var(--td-spacer-2);
}

.identifications-item-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dentifications-item-taxon {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .id-agree {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--td-font-size);
    color: var(--td-primary-color-8);
  }
}

.id-taxon-wrapper {
  margin-top: var(--td-spacer);
  line-height: 1.3;

  .taxon-common-name {
    color: var(--td-font-gray-1);
    font-size: var(--td-font-size-base);
  }

  .taxon-scientific-name {
    color: var(--td-font-gray-3);
    font-size: var(--td-font-size-s);
  }
}