@import "../../theme.scss";

.identifications-item {
  padding: var(--td-spacer) 0;
  font-size: $font-size-s;
  border-bottom: 1px solid $border-color;
  margin: 0 var(--td-spacer-2);
}

.identifications-item-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $font-gray-2;
}

.dentifications-item-taxon {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .id-agree {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--td-font-size);
    color: var(--td-primary-color-8);
  }
}

.id-taxon-wrapper {
  margin-top: var(--td-spacer);
  line-height: 1.2;

  .taxon-common-name {
    color: $font-gray-1;
    font-size: var(--td-font-size);
  }

  .taxon-scientific-name {
    color: $font-gray-2;
    font-size: $font-size-s;
  }
}