.setting-page-container {
  background-color: var(--default-bg);
  min-height: 100vh;
}

.logout-btn {
  justify-content: center;
}

.cell-group:not(:first-child) {
  margin-top: var(--td-spacer-4);
}