@import "../../theme.scss";
@import "../../utils/libs/animate.scss";

page {
  background-color: $default-bg;
}

.page-container {
  font-size: $font-size-m;
  margin: 0 0 $area-gap 0;
}

.create-form {
  background-color: #fff;
}

.create-image-uplader-wrapper {
  padding: $area-gap;
}

.create-form-item-wrapper-taxon {
  background-color: $default-bg;
  padding: $area-gap-l 0;
}

.create-form-item-wrapper-taxon .create-form-item-wrapper {
  background-color: #FFF;
  padding: $area-gap;
  border-bottom: none;
}

.create-form-item-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  --td-input-vertical-padding: 0;
  padding: $area-gap;
  line-height: 1.3; // 使换行时看起来更加紧凑

  &:last-child {
    border-bottom: none;
  }
}

.create-form-item-placeholder {
  color: $font-gray-3 !important;
  font-size: $font-size-m !important;
}

.create-form-item-icon-wrapper {
  margin-right: $area-gap-xs;
  color: $font-gray-3;
}

.create-form-item__right-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: none;
}

.create-form-item-content {
  font-size: $font-size-m;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.create-form-item-content__artificial-label {
  margin-right: $area-gap-xs;
}

.create-form-item-checkbox {
  padding: 0;
}

.create-form-item-checkbox {
  padding: 0 !important;
}

.create-form-save-button {
  margin: $area-gap-xl $area-gap $area-gap $area-gap;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size;
  color: $font-gray-3;
  padding-bottom: $area-gap-xl;
}

.form-taxon-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.create-form-item-content__scientific_name {
  font-size: $font-size-xs;
  color: $font-gray-3;
}

.create-form-item-checkbox-icon {
  margin-right: 0 !important;
}