@import "../../theme.scss";

.page-container {
  --std-font-size: 20px;
  --td-font-size-m: 20px;
  font-size: 20px;
  margin: 0;
  padding-bottom: 100px;
}

.create-form {
  background-color: #fff;
  border-radius: 4px;
}

.create-image-uplader-wrapper {
  padding: 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
}

.create-form-item-wrapper-taxon {
  background-color: $default-bg;
  padding: 30px 0;
}

.create-form-item-wrapper-note {
  border-top: 1px solid rgb(231, 231, 231);
}

.create-form-item-wrapper-taxon .create-form-item-wrapper {
  background-color: #FFF;
  padding: 20px 10px;
  border-top: 1px solid rgb(231, 231, 231);
}

.create-form-item-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  --td-input-vertical-padding: 0;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.create-form-item-placeholder {
  color: rgba(0, 0, 0, 0.4) !important;
  font-size: var(--std-font-size) !important;
}

.create-form-item-time-tips {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.create-form-item-icon-wrapper {
  margin-right: 13px;
}

.create-form-item__right-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: none;
}

.create-form-item-content {
  font-size: var(--std-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.create-form-item-checkbox {
  padding: 0;
}

.create-form-item-checkbox {
  padding: 0 !important;
}

.create-form-save-button {
  margin: 40px 20px 20px 20px;
}

.delegte-form-save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}