page {
  background-color: #16d142;
  padding: var(--td-spacer-5) var(--td-spacer-2);
  box-sizing: border-box;
}

.custom-navbar {
  --td-navbar-color: #fff;
  --td-navbar-bg-color: #16d142;
}

.basic-info {
  padding-bottom: var(--td-spacer-2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--td-spacer-2);
}

.basic-info__item {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  font-weight: bolder;
  color: #fff;
  font-size: var(--td-font-size-base);

  .basic-info__item_count {
    font-size: var(--td-font-size-xxl);
  }
}

ec-canvas {
  width: 100%;
  height: 680rpx;
}

.container {
  padding-top: 0;
}