page {
  background-color: var(--default-bg);
  --td-cell-left-icon-color: rgba(0, 0, 0, 0.9);
}

.cell-group {
  margin-top: var(--td-spacer-4);
}

.cell-group:first-child {
  margin-top: var(--td-spacer);
}


.group-title {
  font-size: var(--td-font-size-base);
  color: var(--td-font-gray-2);
  margin-top: var(--spacer-mini);
  margin-bottom: var(--td-spacer);
  margin-left: var(--td-spacer-2);
}