.user-profile-save-button {
  margin: 60rpx 100rpx;
}

.avatar-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--td-spacer-2);
  padding-bottom: var(--td-spacer-2);
  border-bottom: 1px solid var(--td-border-color);
}